header {
    text-align: center;
    background: linear-gradient(to right, rgba(167, 10, 45, 0.57) 0%, rgba(167, 10, 45, 1) 100%);
}

header p {
    color: fafafa;
    font-family: 'eucerinBold';
    font-size: 20px;
}