<body>
    <header class="navbar-fixed">
        <nav class="row">
            <div class="nav-wrapper col s12 valign-wrapper">
                <div class="brand-logo center">
                    <p>RECOMENDACIONES DE USO</p>
                </div>
                <a routerLink="" class="left"><i class="material-icons waves-effect waves-light">navigate_before</i></a>
                <div class="logo col m3 right text-transparent hide-on-small-only">logo</div>
            </div>
        </nav>
    </header>
    <main class="container valign-wrapper">
        <div class="menu row">
            <div class="row"></div>
            <p class="titulo">MENÚ</p>

            <div class="antiedadGrup col s12 m6 white">
                <div class="col s3 antiedad teal">ANTIEDAD</div>
                <div class="col s12 right antiedadSmall teal">ANTIEDAD</div>
                <a routerLink="/antiedad25" class="col m9 s12 right btn-large waves-effect waves-light materialize-prevencion">EDAD 25 A 35 AÑOS<i class="material-icons right ">navigate_next</i></a>
                <a routerLink="/antiedad35" class="col m9 s12 right btn-large waves-effect waves-light blue-grey lighten-2">EDAD 35 A 45 AÑOS<i class="material-icons right ">navigate_next</i></a>
                <a routerLink="/antiedad45" class="col m9 s12 right btn-large waves-effect waves-light brown lighten-2">EDAD +45 AÑOS<i class="material-icons right ">navigate_next</i></a>
            </div>
            <div class="col s12 m6 ">
                <a routerLink="/antipigmento" class="col s12 btn-large waves-effect waves-light red lighten-2">ANTIPIGMENTO<i class="material-icons right ">navigate_next</i></a>
                <a routerLink="/pielgrasaomixta" class="col s12 btn-large waves-effect waves-light green lighten-1">PIEL GRASA O MIXTA<i class="material-icons right ">navigate_next</i></a>
                <a routerLink="/bebesyniños" class="col s12 btn-large waves-effect waves-light pink lighten-3">BEBES Y NIÑOS<i class="material-icons right ">navigate_next</i></a>
            </div>
            <div class="col m6 s12 ">
                <a routerLink="/pielsensible" class="col s12 btn-large waves-effect waves-light pink lighten-2">PIEL SENSIBLE<i class="material-icons right ">navigate_next</i></a>
            </div>
            <div class="col m6 s12 ">
                <a routerLink="/pielhipersensible" class="col s12 btn-large waves-effect waves-light pink darken-4">PIEL HIPERSENSIBLE<i class="material-icons right ">navigate_next</i></a>
            </div>
            <div class="col m6 s12 ">
                <a routerLink="/pielseca" class="col s12 btn-large waves-effect waves-light light-blue darken-3">PIEL SECA<i class="material-icons right ">navigate_next</i></a>
            </div>
            <div class="col m6 s12 ">
                <a routerLink="/pielsecaysuscomplicaciones" class="col s12 btn-large waves-effect waves-light red darken-3">PIEL SECA COMPLICACIONES<i class="material-icons right ">navigate_next</i></a>
            </div>
            <div class="row"></div>
        </div>
    </main>
    <footer class="page-footer grey lighten-2 ">

        <div class="footer-copyright ">
            <div class="container ">
                <div class="row " style="margin: 0px; ">
                    <div class="center col m4 s12 "><a target="_blank" href="https://www.eucerin.com.co" class="blue-grey-text text-darken-3 "><span class="icon-websphere "></span> www.eucerin.com.co</a></div>
                    <div class="center col m4 s12 "><a target="_blank" href="https://www.facebook.com/Eucerin.International/" class="blue-grey-text text-darken-3 "><span class="icon-facebook "></span> eucerin</a></div>
                    <div class="center col m4 s12 "><a target="_blank" href="https://www.instagram.com/eucerincolombia/" class="blue-grey-text text-darken-3 "><span class="icon-instagram "></span> @eucerincolombia</a></div>
                </div>
            </div>
        </div>
    </footer>
</body>