header .row {
    margin: 0px;
}

header nav {
    background: linear-gradient(to right, rgba(167, 10, 45, 1) 0%, rgba(167, 10, 45, 0.57) 60%, rgba(167, 10, 45, 0) 90%)!important;
}

header .titulo .texto {
    font-family: 'eucerinBold';
    font-size: 1.4rem;
    text-align: center;
}

header .titulo .logo {
    color: transparent;
    background: url(../../../assets/img/eucerinLogo.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: auto 70%;
}

.menu .btn-large,
.antiedad,
.antiedadSmall {
    font-family: 'eucerinBold';
    margin: 0.37rem 0;
}

.menu {
    width: 100%;
}

.menu p {
    font-size: 1.4rem;
}

.antiedadGrup {
    border-radius: 4px;
}

.antiedad {
    align-self: center;
    font-size: 18px;
    height: 184px;
    width: calc(25% - 0.60rem)!important;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    display: inline-block;
    padding-left: calc(10% - 0.60rem);
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0.30rem;
    transition: all 0.75s bounceIn;
}

.antiedadSmall {
    font-size: 18px;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    border-radius: 2px;
    display: inline-block;
    padding: 0 16px;
    text-transform: uppercase;
    display: none;
    transition: all 0.75s ease-in-out;
}

footer:before {
    content: '';
    right: 25px;
    margin-top: -35px;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: url(../../../assets/img/lineaExclusiva.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    transform: rotate(-17deg);
}

@media (max-width: 600px) {
    header nav {
        background: linear-gradient(to right, rgba(167, 10, 45, 1) 0%, rgba(167, 10, 45, 0.57) 100%)!important;
    }
    .antiedadGrup {
        margin-bottom: 16px;
    }
    .antiedadSmall {
        display: block;
    }
    .antiedad {
        display: none;
    }
}

@media (max-width: 711px) {
    footer:before {
        right: 5px;
    }
}

@media (max-width: 350px) {
    header .titulo .texto {
        font-size: 1.15rem;
    }
}