<header class="navbar-fixed">
    <nav class="row">
        <div class="nav-wrapper col s12 valign-wrapper">
            <div class="brand-logo center">
                <p>RUTINAS</p>
            </div>
            <a routerLink="/menu"><i class="material-icons waves-effect waves-light">navigate_before</i></a>
            <a class="sidenav-trigger" data-target="slide-out"><i class="material-icons waves-effect waves-light">menu</i></a>
        </div>
    </nav>
</header>


<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view"></div>
    </li>
    <li class="">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header navitem materialize-eucerin-red-text">ANTIEDAD<i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li routerLinkActive="active"><a routerLink="/antiedad25" class="navitem sidenav-close">EDAD 25 A 35 AÑOS</a></li>
                        <li routerLinkActive="active"><a routerLink="/antiedad35" class="navitem sidenav-close">EDAD 35 A 45 AÑOS</a></li>
                        <li routerLinkActive="active"><a routerLink="/antiedad45" class="navitem sidenav-close">EDAD +45 AÑOS</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li routerLinkActive="active"><a routerLink="/antipigmento" class="sidenav-close navitem">ANTIPIGMENTO</a></li>
    <li routerLinkActive="active"><a routerLink="/pielgrasaomixta" class="sidenav-close navitem">PIEL GRASA O MIXTA</a></li>
    <li routerLinkActive="active"><a routerLink="/bebesyniños" class="sidenav-close navitem">BEBES Y NIÑOS</a></li>
    <li routerLinkActive="active"><a routerLink="/pielsensible" class="sidenav-close navitem">PIEL SENSIBLE</a></li>
    <li routerLinkActive="active"><a routerLink="/pielhipersensible" class="sidenav-close navitem">PIEL HIPERSENSIBLE</a></li>
    <li routerLinkActive="active"><a routerLink="/pielseca" class="sidenav-close navitem">PIEL SECA</a></li>
    <li routerLinkActive="active"><a routerLink="/pielsecaysuscomplicaciones" class="sidenav-close navitem">PIEL SECA COMPLICACIONES</a></li>
</ul>