<header class="navbar-fixed">
    <nav class="nav-extended" style="background: linear-gradient(to right,rgba(167,10,45,0.57) 0%, rgba(167,10,45,1) 100%);">
        <div class="nav-wrapper">
            <div class="container">
                <a class="brand-logo">RUTINAS</a>
                <a data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a>Películas</a>
                    </li>
                    <li>
                        <a>Personajes</a>
                    </li>
                    <li>
                        <a>Tareas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<ul class="sidenav" id="mobile-demo">
    <br><br><br>
    <li>
        <a class="sidenav-close"><i class="material-icons prefix">home</i>Inicio</a>
    </li>
    <li>
        <a class="sidenav-close"><i class="material-icons prefix">movie</i>Películas</a>
    </li>
    <li>
        <a class="sidenav-close"><i class="material-icons prefix">people</i>Personajes</a>
    </li>
    <li>
        <a class="sidenav-close"><i class="material-icons prefix">watch</i>Tareas</a>
    </li>
</ul>