<body>
    <app-header></app-header>
    <main>
        <div class="container">
            <div class="row">
                <p class="titulo">ANTIENVEJECIMIENTO<br>EDAD 35 A 45 AÑOS</p>
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6 materialize-eucerin-blue-text"><a href="#facial" class="active"><i class="material-icons">play_arrow</i> RUTINA FACIAL</a></li>
                        <li class="tab col s6 materialize-eucerin-blue-text"><a href="#corporal"><i class="material-icons">play_arrow</i> RUTINA CORPORAL</a></li>
                    </ul>
                </div>
                <div id="facial" class="row">
                    <div class="col s12">Test 1</div>
                </div>
                <div id="corporal" class="row">
                    <div id="test2" class="col s12">Test 2</div>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</body>