<body>
    <app-header></app-header>
    <main>
        <div class="container">
            <div class="row">
                <p class="titulo">BEBES Y NIÑOS</p>
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6 materialize-eucerin-blue-text"><a href="#test1" class="active"><i class="material-icons">play_arrow</i> RUTINA FACIAL</a></li>
                        <li class="tab col s6 materialize-eucerin-blue-text"><a href="#test2"><i class="material-icons">play_arrow</i> RUTINA CORPORAL</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div id="test1" class="col s12">Test 1</div>
                    <div id="test2" class="col s12">Test 2</div>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</body>