<body class="item">
    <div class="row">
        <div class="imagenPro col m4 s12">
            <!-- <img src="assets/img/productos/{{ productoService.producto.codigo }}.jpg"> -->
        </div>
        <div class="descripPro col m8 s12">


        </div>
    </div>
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="assets/img/productos/{{ productoService.producto.codigo }}.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed-action-btn">
        <a (click)="goBack()" class="btn-floating btn-large waves-effect waves-light materialize-eucerin-red"><i class="material-icons">close</i></a>
    </div>
</body>