<body>
    <app-header></app-header>
    <main>
        <div class="container">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red">
                    <i class="large material-icons">more_vert</i>
                </a>
                <ul>
                    <li><a routerLink="" class="btn-floating red"><i class="material-icons">home</i></a></li>
                    <li><a routerLink="/menu" class="btn-floating yellow darken-1"><i class="material-icons">menu</i></a></li>
                </ul>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</body>