@charset "UTF-8";
@import "assets/css/materialize.css";
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
    border: none;
    border-radius: 2.5px;
}

::-webkit-scrollbar-corner {
    display: none;
}

@font-face {
    font-family: 'eucerinBold';
    src: url('assets/fonts/eucerin/eucerinbold-webfont.woff2') format('woff2'), url('assets/fonts/eucerin/eucerinbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eucerinDemi';
    src: url('assets/fonts/eucerin/eucerindemibold-webfont.woff2') format('woff2'), url('assets/fonts/eucerin/eucerindemibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eucerinMedium';
    src: url('assets/fonts/eucerin/eucerinmedium-webfont.woff2') format('woff2'), url('assets/fonts/eucerin/eucerinmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'eucerinRegular';
    src: url('assets/fonts/eucerin/eucerinregular-webfont.woff2') format('woff2'), url('assets/fonts/eucerin/eucerinregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('assets/fonts/icomoon/icomoon.eot?utmgrg');
    src: url('assets/fonts/icomoon/icomoon.eot?utmgrg#iefix') format('embedded-opentype'), url('assets/fonts/icomoon/icomoon.ttf?utmgrg') format('truetype'), url('assets/fonts/icomoon/icomoon.woff?utmgrg') format('woff'), url('assets/fonts/icomoon/icomoon.svg?utmgrg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-websphere:before {
    content: "\ea8d";
}

.icon-facebook:before {
    content: "\ea91";
}

.icon-instagram:before {
    content: "\ea92";
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    scrollbar-width: thin;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'eucerinRegular';
    background: #EBEBEB;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.row .subtitulo {
    font-size: 1.2rem;
    color: #a81830 !important;
}

.row .tituloRutinas {
    font-size: 1.2rem;
    color: #2a3742 !important;
    margin: 12px 0px;
    font-family: 'eucerinDemi';
}

.row .titulo {
    font-size: 1.2rem;
    color: #2a3742 !important;
    font-family: 'eucerinBold';
}

.tituloLinea {
    color: #2a3742 !important;
    font-family: 'eucerinBold';
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cards-container .card {
    overflow: visible;
    border-radius: 10px;
    margin: 7px;
    width: calc(100% - 14px);
}

.card-content {
    height: 100%;
    padding: 0px!important;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card-content img {
    width: 100%;
    border-radius: 6px;
}

.card-content .card-title {
    width: 100%;
    padding: 0px 12px;
    font-size: 1.1rem;
    text-align: center;
    align-self: flex-end;
}

.card {
    border-bottom: 4px solid #e0e0e0;
}

.card-content {
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .cards-container .card {
        width: calc(100% - 14px);
    }
}

@media only screen and (min-width: 401px) {
    .cards-container .card {
        width: calc(50% - 14px);
    }
}

@media only screen and (min-width: 601px) {
    .cards-container .card {
        width: calc(33.3% - 14px);
    }
}

@media only screen and (min-width: 993px) {
    .cards-container .card {
        width: calc(25% - 14px);
    }
}

.loader {
    margin-top: 30px;
}

svg path,
svg rect {
    fill: #a81830;
}