<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating waves-effect waves-light btn-large materialize-eucerin-red">
        <i class="large material-icons">more_vert</i>
    </a>
    <ul>
        <li><a routerLink="" class="btn-floating waves-effect waves-light materialize-eucerin-blue"><i class="material-icons">home</i></a></li>
        <li><a routerLink="/menu" class="btn-floating waves-effect waves-light materialize-eucerin-blue"><i class="material-icons">menu</i></a></li>
        <li><a routerLink="/menu" class="btn-floating waves-effect waves-light materialize-eucerin-blue"><i class="material-icons">search</i></a></li>
    </ul>
</div>
<footer class="page-footer grey lighten-2">
    <div class="footer-copyright">
        <div class="container">
            <div class="row" style="line-height: 20px; margin-bottom: 0px">
                <div class="col s5 left-align">
                    <img src="../../../assets/img/eucerinLogo.png" alt="www.eucerin.com" height="30px" style="vertical-align: middle">
                </div>
                <div class="col s7 right-align blue-grey-text text-darken-4">
                    <!-- <p style="vertical-align: middle; margin: 0px;line-height: 30px;">© BEIERSDORF {{anio}}</p> -->
                </div>
            </div>
        </div>
    </div>
</footer>