
<footer class="page-footer grey lighten-2">
    <div class="footer-copyright">
        <div class="container">
            <div class="row" style="line-height: 20px; margin-bottom: 0px">     
                <div class="col s5 left-align" >
                    <img src="../../../assets/img/eucerinLogo.png" alt="www.eucerin.com" height="30px" style="vertical-align: middle">
                </div> 
                <div class="col s7 right-align blue-grey-text text-darken-4">
                    <p style="vertical-align: middle; margin: 0px;line-height: 30px;">© BEIERSDORF {{anio}}</p> 
                </div> 
            </div>
        </div>
    </div>
</footer>
