<body>
    <app-header></app-header>
    <main>
        <div class="container">
            <div class="row">
                <p class="titulo">ANTIPIGMENTO</p>
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6 materialize-eucerin-blue-text"><a href="#facial" class="active"><i class="material-icons">play_arrow</i> RUTINA FACIAL</a></li>
                        <li class="tab col s6 materialize-eucerin-blue-text"><a href="#corporal"><i class="material-icons">play_arrow</i> RUTINA CORPORAL</a></li>
                    </ul>
                </div>
            </div>
            <div id="facial" class="row">
                <div class="row">
                    <p class="tituloRutinas">LIMPIEZA</p>
                    <div class="col s12 cards-container">
                        <div class="card white z-depth-0">
                            <div class="card-content waves-effect waves-light materialize-eucerin-blue-text">
                                <img src="../../../assets/img/productos/1.jpg">
                                <span class="card-title">Card Uno</span>
                            </div>
                        </div>
                    </div>
                    <p class="tituloRutinas">CUIDADO</p>
                    <div class="col s12 cards-container">
                        <div class="card white z-depth-0">
                            <div class="card-content waves-effect waves-light materialize-eucerin-blue-text">
                                <img src="../../../assets/img/productos/1.jpg">
                                <span class="card-title">Card Uno</span>
                            </div>
                        </div>
                    </div>
                    <p class="tituloRutinas">PROTECCIÓN</p>
                    <div class="col s12 cards-container">
                        <div class="card white z-depth-0">
                            <div class="card-content waves-effect waves-light materialize-eucerin-blue-text">
                                <img src="../../../assets/img/productos/1.jpg">
                                <span class="card-title">Card Uno</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="corporal" class="row">
                <div class="row">
                    <p class="tituloRutinas">LIMPIEZA</p>
                    <div class="col s12 cards-container">
                        <div class="card white z-depth-0">
                            <div class="card-content waves-effect waves-light materialize-eucerin-blue-text">
                                <img src="../../../assets/img/productos/1.jpg">
                                <span class="card-title">Card Uno</span>
                            </div>
                        </div>
                        <div class="card white z-depth-0">
                            <div class="card-content waves-effect waves-light materialize-eucerin-blue-text">
                                <img src="../../../assets/img/productos/1.jpg">
                                <span class="card-title">Card Uno</span>
                            </div>
                        </div>
                        <div class="card white z-depth-0">
                            <div class="card-content waves-effect waves-light materialize-eucerin-blue-text">
                                <img src="../../../assets/img/productos/1.jpg">
                                <span class="card-title">Card Uno</span>
                            </div>
                        </div>
                    </div>
                    <p class="tituloRutinas">CUIDADO</p>
                    <div class="col s12 cards-container">
                        <div class="card white z-depth-0">
                            <div class="card-content waves-effect waves-light materialize-eucerin-blue-text">
                                <img src="../../../assets/img/productos/1.jpg">
                                <span class="card-title">Card Uno</span>
                            </div>
                        </div>
                    </div>
                    <p class="tituloRutinas">PROTECCIÓN</p>
                    <div class="col s12 cards-container">
                        <div class="card white z-depth-0">
                            <div class="card-content waves-effect waves-light materialize-eucerin-blue-text">
                                <img src="../../../assets/img/productos/1.jpg">
                                <span class="card-title">Card Uno</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</body>